{:deps
 {nrepl/nrepl {:mvn/version "1.2.0"}
  cider/cider-nrepl {:mvn/version "0.50.2"}
  com.cognitect/transit-clj {:mvn/version "1.0.333"}
  com.yetanalytics/colossal-squuid {:mvn/version "0.1.5"
                                    :exclusions
                                    [ ;; important to avoid `java.lang.NoSuchMethodError: 'boolean com.google.protobuf.GeneratedMessageV3.isStringEmpty(java.lang.Object)'         at com.google.cloud.secretmanager.v1.ListSecretsRequest.getSerializedSize(ListSecretsRequest.java:355)`
                                     org.clojure/clojurescript]}
  lambdaisland/uri {:mvn/version "1.19.155"}
  hiccup/hiccup {:mvn/version "2.0.0"}
  ring/ring-core {:mvn/version "1.15.3"}
  co.deps/ring-etag-middleware {:mvn/version "0.2.1"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.955"}
  com.github.seancorfield/honeysql {:mvn/version "2.6.1230"}
  org.xerial/sqlite-jdbc {:mvn/version "3.47.1.0"}
  simplemono/eventstore-s3-packs {:git/url "https://github.com/simplemono/eventstore.git"
                                  :sha "caa7540d7be50d7f8fff3510b6e418190cb44f8f"
                                  :deps/root "s3-packs"}
  simplemono.parts/replicant {:git/url "https://github.com/simplemono/parts.git"
                              :sha "e14947ec42e252b871ec0b451bd66a7045884991"
                              :deps/root "replicant"}
  simplemono.parts/ring {:git/url "https://github.com/simplemono/parts.git"
                         :sha "ee426fd9d7d7e3e8e738d64bd6e8662468ffc3a5"
                         :deps/root "ring"}
  simplemono.parts/httpkit  {:git/url "https://github.com/simplemono/parts.git"
                             :sha "a9b40860196539a36939eed75c672696faf6d158"
                             :deps/root "httpkit"}}
 :aliases
 {:dev {:extra-deps {binaryage/devtools {:mvn/version "1.0.7"}
                     thheller/shadow-cljs {:mvn/version "2.28.18"}}}}}
